{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - GraphQL Results" %}

{%  macro offences(offences) %}
  {% if offences.length > 0 %}
      {% set offenceItems = [] %}

      {% for offence in offences %}
        {% set offenceItems = (offenceItems.push(
            [
              {
                text: offence.description
              }
            ]
          ), offenceItems) %}
      {% endfor %}
    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      head: [
      {
        text: "Offence"
      }
    ],
      rows: offenceItems
    }) }}
  {% endif %}
{% endmacro %}

{% block content %}

<main class="app-container govuk-body">
  {{ govukBackLink({
    text: "Back",
    href: "/graphql/demo"
  }) }}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l govuk-!-margin-top-7">GraphQL Demonstration - Prisoner</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: prisoner.lastName
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "firstName"
              }
            ]
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: prisoner.lastName
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "lastName"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: prisoner.dateOfBirth
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        }
      ]
    }) }}
    {% if prisoner.sentences.length %}
      <h2 class="govuk-heading-m govuk-!-margin-top-7">Sentences</h2>
        {% set sentenceItems = [] %}

        {% for sentence in prisoner.sentences %}
          {% set sentenceItems = (sentenceItems.push(
              {
                heading: {
                  text: sentence.description
                },
                summary: {
                  html: "<p class='govuk-body'>" + sentence.length + " starting from " + sentence.startDate + "</p>" if sentence.length else "Offences for sentence"
                },
                content: {
                  html: offences(sentence.offences)
                }
              }
            ), sentenceItems) %}
        {% endfor %}

      {{ govukAccordion({
        id: "accordion-default",
        items: sentenceItems
      }) }}  
    {% endif %}
  </div>
</main>
{% endblock %}
