{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-body">
        <h1>Click this button to trigger an audit event</h1>
        <p>{{ govukButton({
                text: "Trigger Event",
                href: eventLink
            }) }}</p>
    </div>

{% endblock %}
